<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtu.mapper.ToDoListMapper">
  <resultMap id="BaseResultMap" type="com.qtu.entity.ToDoList">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="theme" jdbcType="VARCHAR" property="theme" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="faqiPeople" jdbcType="VARCHAR" property="faqipeople" />
    <result column="themeState" jdbcType="VARCHAR" property="themestate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, theme, subject, time, faqiPeople, themeState
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from todolist
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from todolist
    order by time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from todolist
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qtu.entity.ToDoList">
    insert into todolist (id, theme, subject, 
      time, faqiPeople, themeState
      )
    values (#{id,jdbcType=INTEGER}, #{theme,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP}, #{faqipeople,jdbcType=VARCHAR}, #{themestate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qtu.entity.ToDoList">
    insert into todolist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="theme != null">
        theme,
      </if>
      <if test="subject != null">
        subject,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="faqipeople != null">
        faqiPeople,
      </if>
      <if test="themestate != null">
        themeState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="theme != null">
        #{theme,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="faqipeople != null">
        #{faqipeople,jdbcType=VARCHAR},
      </if>
      <if test="themestate != null">
        #{themestate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qtu.entity.ToDoList">
    update todolist
    <set>
      <if test="theme != null">
        theme = #{theme,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="faqipeople != null">
        faqiPeople = #{faqipeople,jdbcType=VARCHAR},
      </if>
      <if test="themestate != null">
        themeState = #{themestate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qtu.entity.ToDoList">
    update todolist
    set theme = #{theme,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      faqiPeople = #{faqipeople,jdbcType=VARCHAR},
      themeState = #{themestate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>